@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* navbar or header css */
.navbar{
  font-family:'Poppins', sans-serif; 
  font-size: 17px;
  color:#FFFFFF !important;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  /* background: linear-gradient(to top, #D49E8D,#683B2B); */
  /* background-color: white !important ; */
  background-image: conic-gradient(#563727, #372C2E, #FFFFFF, #DE9E48, #7A431D);
  border-bottom: 0px solid gray !important;
  
  /* --webkit-box-shadow: */
}
.active{
  border-bottom: 1px solid black;
}
.navbar-brand{
  font-family: "roboto",sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 25px;
  color:black;
}

/* Footer css */
.footer{
  color: white;
padding: 15px;
background-color: #000000;
background: linear-gradient(to left, #434343,#000000);
}
.footer a{
  color: whitesmoke;
  /* margin-right: 20px; */
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
}

.footer a:hover {
  color:#ffefba;
  border-bottom: 1px solid whitesmoke;

}
/* page not found button css */
.pageNotFound a{
text-decoration: none;
color: whitesmoke;


}
.pageNotFound{
  padding: 15px;
  margin-top: 10px;
  border:none;
  background-color: #434343;
  border-radius: 5px;


}

/* contact page css */

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* register page css */

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height:90vh;
  background-color: #6F4E37;
  /* background-image:-webkit-linear-gradient(0deg, #E68244 0% ,#563727 100%); */
  /* background: -webkit-linear-gradient(to right #434343 #000000); */
}
.form-container form{
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
}
.form-container form .title{
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
font-family: 'Playfair Display', serif;
text-transform: uppercase;
}
.form-container form input{
  border:none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}
.form-container form button{
  
  border-radius: 1px solid black;
  background-color: #000;
  color: whitesmoke;
  border-radius: 0%;
  width: 250px;
}
.form-container form button:hover{
  border:1px solid black;
  background: #000000;
  background: linear-gradient(to right #434343 #000000);
}

/* home page card */
.card-desgin{
  background: conic-gradient(#563727, #372C2E, #FFFFFF, #DE9E48, #7A431D) !important;
}


.home-page ,button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.card-desgin:hover{
  opacity: 0.8;
}

/* home page filter */
.filter{
  font-family:'Poppins', sans-serif !important ;
}

.brand-name{
  
  background-color: #563727;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chocolate{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  position: absolute;
  letter-spacing: 15px;
  line-height: 32vh;
color:#6F4E37;

background: linear-gradient(to right, #6F4E37, 
#7B3F00, #3b1f0193, #ddd0c7); 
 -webkit-text-fill-color: transparent; 
background-clip: text; 
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}